.grid-container .main{
    height: 100vh;
    background: #faf9f9;
    padding: 2rem 2.5rem;
    width: 100%;
}
.main .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.8rem;
    width: 100%;
}
.main .container .card{
    background: #fff;
    padding: 2.5rem;
    box-shadow: 1px 1px .7rem rgba(170, 168, 168, 0.8) ;
    border-radius: 1.2rem;
    min-width: 23rem;
    width: calc(100% / 4 - 1.5rem);
}   
.main .container .card .upper{
    font-size: 1.7rem;
    padding-bottom: 2.5rem;
}
.main .container .card .upper i{
    margin-right: .8rem;
    color: rgb(30, 30, 139);
}
.main .container .card .upper .check{
    color: green;
}
.main .container .card .upper .save{
    color: rgb(194, 194, 19);
}
.main .container .card .upper .cancel{
    color: red;
}
.main .container .card h3{
    font-size: 2rem;
}