@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    text-transform: capitalize;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
img{
    display: inline-block;
    vertical-align: middle;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.grid-container{
    display: flex;
    position: relative;
}

.grid-container .sidebar{
    grid-area: sidebar;
    padding: 2.3rem;
    width: 35rem;
    background: #fff;
    z-index: 1;
    height: 100vh;
    position: sticky;
    top: 0;
    transition: none;
}
.grid-container .sidebar.active{
    width: 8.5rem;
}

.grid-container .sidebar .topbar{
    display: inline-flex;
    align-items: center;
}
.grid-container .sidebar .topbar .icon{
    margin-right: 2.2rem;
}
.grid-container .sidebar .topbar .icon img{
    width: 2.5rem;
    cursor: pointer;
}
.grid-container .sidebar .topbar .icon img.active{
    transform: scaleX(-1);
    text-align: center;
}
.grid-container .sidebar .topbar .logo{
    width: 10rem;
}
.grid-container .sidebar .topbar .logo.active{
    display: none;
}
.grid-container .sidebar .bottom{
    padding: 2.8rem 0;
}
.grid-container .sidebar .bottom ul{
    font-size: 1.7rem;
    font-weight: 400;
}
.grid-container .sidebar .bottom ul li{
    padding: 1rem 1.5rem;
    border-radius: .7rem;
    margin: 1.7rem 0;
}
.grid-container .sidebar .bottom ul li a img{
    display: block;
}
.grid-container .sidebar .bottom ul li a{
    display: flex;
    align-items: center;
}
.grid-container .sidebar .bottom ul .active{
    background: rgb(230, 220, 230);
    color: rgb(134, 37, 90);
}
.grid-container .sidebar .bottom ul i{
    padding-right: 1.5rem ;
    display: inline-block;
}.grid-container .sidebar .bottom ul li img{
    width: 2rem;
}
.grid-container .sidebar .bottom ul a{
    color: rgb(7, 34, 70);
}
.grid-container .sidebar .bottom ul span.active{
    display: none;
}

/*     header starts    */

.grid-container .header{
    width: 100%;
    background: #faf9fa;
    height: 100%;
    position: relative;
}

.grid-container .header header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #faf9fa;
    padding:1.1rem 2.5rem;
    border-bottom: .1rem solid rgba(189, 188, 188, 0.5);
    position: sticky;
    top: 0%;
}
.grid-container .header .logo{
    font-size: 2.1rem;
    font-weight: 600;
    color: rgb(17, 30, 53);
}
.grid-container .header .logo i{
    vertical-align: middle;
    margin-right: 1.8rem;
    display: none;
}
.grid-container .header header .user{
    display: inline-flex;
    align-items: center;
}
.grid-container .header header .user .side{
    border: .1rem solid #aaa;
    padding:.5rem 1rem;
    border-radius: 3rem;
}
.grid-container .header header .user .side i{
    font-size: 1.5rem;
    margin-left: 1rem;
}
.grid-container .header header .user .side h4{
    display: inline-block;
    font-size: 1.5rem;
}
.grid-container .header header .user .bell{
    font-size: 1.5rem;
    margin: 0 1.5rem;
    border: .1rem solid #aaa;
    padding: 1rem 1.1rem;
    border-radius: 50%;
}
.grid-container .mobile{
    display: none;
}


@media screen and (max-width:996px) {
    html{
        font-size: 55%;
    }
}
@media screen and (max-width:786px) {
    html{
        font-size: 50%;
    }
    .grid-container .header header .user .side h4{
        display: none;
    }
    .grid-container .header header .user .side i{
        margin: 0;
        padding: .48rem 0.08rem;
    }
}
@media screen and (max-width:426px) {
    .grid-container .mobile{
        display: block;
        background-color: #6e6a6a44;
        padding: 0;
        position: fixed;
        left: 100%;
    }
    .grid-container .desktop{
        display: none;
    }
    .mobile .color{
        width: 70%;
        background-color: #fff;
        height: 100%;
        padding: 2.3rem;
        position: relative;
    }
    .grid-container .header .logo i{
        vertical-align: middle;
        margin-right: 1.8rem;
        display: inline-block;
    }
    .grid-container .mobile.active{
        left: 0;
        width: 100%;
    }
    .grid-container .mobile .cross{
        font-size: 2.6rem;
        position: absolute;
        top: 2.3%;
        right: -13rem;
        background: black;
        cursor: pointer;
        color: #fff;
        padding: 1rem 1.4rem;
        border-radius: 50%;
    }
}